<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EveryDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EveryDoc.Properties.Settings>
            <setting name="WholeWordMatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatchTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatchRemark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExecuteType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EverythingPath" serializeAs="String">
                <value />
            </setting>
        </EveryDoc.Properties.Settings>
    </userSettings>
</configuration>